black
click
dill
Flask
importlib-metadata
isort
itsdangerous
Jinja2
lazy-object-proxy
MarkupSafe
mccabe
mypy-extensions
packaging
pathspec
Pillow
platformdirs
pytesseract
pyuwsgi
tomli
tomlkit
typed-ast
typing-extensions
Werkzeug
wrapt
zipp
