<!DOCTYPE html>
<html>
  <head>
    <title>Image OCR Web Application</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <style>
      form {
        display: inline;
      }
    </style>
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="mb-4">Image OCR Web Application</h1>
      {% if error %}
      <div class="alert alert-danger" role="alert">{{ error }}</div>
      {% endif %} {% if text %}
      <div class="alert alert-success" role="alert">
        <h5 class="alert-heading">Extracted Text:</h5>
        <p>{{ text }}</p>
      </div>
      {% endif %}
      <form action="/" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="imageFile">Select an image file:</label>
          <input
            type="file"
            class="form-control-file"
            id="imageFile"
            name="image"
          />
        </div>
        <button type="submit" class="btn btn-primary">Extract Text</button>
      </form>
      <form action="/" enctype="multipart/form-data">
        <button type="submit" class="btn btn-secondary">Clear</button>
      </form>
    </div>
  </body>
</html>
